{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="text-center">HomePage</h1>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <h3>My tag:</h3>
            <div class="list-group">
                {% for product in products %}
                <a href="{{ path('productShow', {'id': product.id}) }}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ product.name }} <span class="badge badge-secondary">{{ product.tag }}</span></h5>
                        {% if date(product.endDate) < date() %}
                            <small>Ended</small>
                        {% else %}
                            <small>{{ product.endDate.diff(date('now')).days }} days left</small>
                        {% endif %}
                    </div>
                    <p class="mb-1">{{ product.description }}</p>
                    <small>by {{ product.owner.firstName }}</small>
                </a>
                {% endfor %}
            </div>
            {% endif %}
            <h3>All product</h3>
            <div class="list-group">
                {% for product in all %}
                    <a href="{{ path('productShow', {'id': product.id}) }}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ product.name }} <span class="badge badge-secondary">{{ product.tag }}</span></h5>
                            {% if date(product.endDate) < date() %}
                                <small>Ended</small>
                            {% else %}
                                <small>{{ product.endDate.diff(date('now')).days }} days left</small>
                            {% endif %}
                        </div>
                        <p class="mb-1">{{ product.description }}</p>
                        <small>by {{ product.owner.firstName }}</small>
                    </a>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}