{% extends "base.html.twig" %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="text-center">HomePage</h1>

            <div class="list-group">
                {% for product in products %}
                <a href="{{ path('productShow', {'id': product.id}) }}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ product.name }}</h5>
                        {% if date(product.endDate) < date() %}
                            <small>Ended</small>
                        {% else %}
                            <small>{{ product.endDate.diff(date('now')).days }} days left</small>
                        {% endif %}
                    </div>
                    <p class="mb-1">{{ product.description }}</p>
                    <small>by {{ product.owner.firstName }}</small>
                </a>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}