{% extends "base.html.twig" %}


{% block body %}
    <main>
        <div class="container my-5">
            <h2 class="text-center">Dashboard</h2>
            <div class="row my-3">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header d-flex flex-nowrap justify-content-between align-items-center">
                            <h4 class="d-block">
                                Személyes adatok
                            </h4>
                            <a class="btn btn-secondary d-block" href="{{ path('app_logout') }}">Logout</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        Email:
                                    </div>
                                    <div class="col-10">
                                        {{ app.user.email }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        Név:
                                    </div>
                                    <div class="col-10">
                                        {{ app.user.fullName }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        Tag:
                                    </div>
                                    <div class="col-10">
                                        {{ app.user.tag }}
                                        <a class="btn btn-secondary" href="{{ path('addTag') }}">edit</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header d-flex flex-nowrap justify-content-between align-items-center">
                            <h4 class="d-block">
                                My products
                            </h4>
                            <a class="btn btn-secondary d-block" href="{{ path('productAdd') }}">+</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for product in app.user.products %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-8 ">
                                        <a href="{{ path('productShow',{'id': product.id}) }}">
                                            {{ product.name }}
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <a href="{{ path('productView',{'id': product.id}) }}" class="btn btn-secondary">Edit</a>
                                    </div>
                                    <div class="col-2">
                                        <a href="{{ path('productDelete',{'id': product.id}) }}" class="btn btn-secondary">Delete</a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 my-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>My bets</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for bet in app.user.bets %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-8 ">
                                            <a href="{{ path('productShow',{'id': bet.product.id}) }}">
                                                {{ bet.product.name }}
                                            </a>
                                        </div>
                                        <div class="col-4">{{ bet.price }} Ft</div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 my-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Subscriptions</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for product in app.user.subscriptions %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-8 ">
                                            <a href="{{ path('productShow',{'id': product.id}) }}">
                                                {{ product.name }}
                                            </a>
                                        </div>
                                        {% if date(product.endDate) < date() %}
                                            <div class="col-4">Ended</div>
                                        {% else %}
                                            <div class="col-4">{{ product.endDate.diff(date('now')).days }} days left</div>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}